<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="デジタル庁は、デジタル社会形成の司令塔として、未来志向のDXを大胆に推進し、デジタル時代の官民のインフラを今後5年で一気呵成に作り上げることを目指します。"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>デジタル庁</title>
</head>
<body>

  <div class="w-[90%] max-w-[1200px] mx-auto">
  <!-- header for sm -->
  <header class="lg:hidden">
  <div class="w-full flex justify-between flex-grow-0 items-center py-[16px]">
  <div class="max-w-[140px] w-1/3">
    <h1><%= link_to image_tag('digital.svg', class: 'object-cover w-full h-auto'), root_path %></h1>
  </div>
  <div id="sm-menu-button">
    <%= image_tag 'hamburger.png', id: 'open-button' %>
    <%= image_tag 'cancel.png', id: 'close-button', class: 'hidden'  %>
  </div>
  </div>
  </header>

  <!-- menu for sm -->
  <div id="sm-menu" class="hidden lg:hidden">
    <ul class="text-default-menu font-bold mt-[16px]">
      <li class="mb-[16px] base-blue"><%= link_to 'ホーム', root_path %></li>
      <li class="mb-[16px]"><%= link_to '活動・施策を知る', policies_path %></li>
      <li class="mb-[16px]"><%= link_to '声を届ける', get_involved_path %></li>
      <li><%= link_to 'タイムライン', timelines_path %></li>
    </ul>
    <div class="mt-[40px] h-auto">
    <div class="w-full">
     <ul class="text-default-menu font-bold">
       <li class="mb-[8px]">組織情報</li>
       <li class="mb-[8px]">政策</li>
       <li class="mb-[8px]">会議等</li>
       <li class="mb-[8px]">法令</li>
       <li class="mb-[8px]">採用</li>
       <li class="mb-[8px]">資料</li>
       <li class="mb-[8px]">申請・届出</li>
       <li class="mb-[8px]">調達情報</li>
       <li>お知らせ</li>
     </ul>
    </div>
    <div class="mt-[40px]">
      <h2 class="text-default-menu sub-heading mb-[16px]">注目のトピック</h2>
      <ul class="text-default-menu font-bold">
        <li class="mb-[16px]">新型コロナワクチン接種証明書アプリ</li>
        <li>Visit Japan Webサービス</li>
      </ul>
    </div>
    <div class="mt-[40px]">
      <ul class="text-default-menu base-blue sm:block lg:flex lg:justify-start lg:items-center gap-8">
        <li><%= link_to 'サイトポリシー', '#', class: 'underline' %></li>
        <li><%= link_to 'プライバシーポリシー', '#', class: 'underline' %></li>
        <li><%= link_to 'ウェブアクセシビリティ', '#', class: 'underline' %></li>
        <li>
        <%= link_to 'コピーライトポリシー', '#', class: 'underline' %></li>
        <li>
        <%= link_to 'SNS', '#', class: 'underline' %>
        </li>
        <li>
        <%= link_to 'ご意見・ご要望', '#', class: 'underline' %>
        </li>
        <li>
        <%= link_to 'サイトマップ', '#', class: 'underline' %>
        </li>
      </ul>
    </div>
    <div class="mt-[40px]">
      <ul class="text-default-menu base-blue">
        <li><%= link_to 'Global Site', '#', class: 'underline' %></li>
        <li><%= link_to 'プレスルーム', '#', class: 'underline' %></li>
      </ul>
    </div>
    <div class="mt-[40px] h-auto">
  <div class="mb-[40px]">
    <h2 class="text-default-menu sub-heading mb-[8px]">デジタル庁へのアクセス</h2>
    <address class="text-default-menu not-italic">〒102-0094　東京都千代田区紀尾井町1-3　東京ガーデンテラス紀尾井町 19階、20階</address>
  </div>
  <ul class="flex justify-start items-center gap-10">
    <li><%= link_to image_tag('facebook.png'), '#' %></li>
    <li><%= link_to image_tag('twitter.png'), '#' %></li>
  </ul>
  </div>
  </div>
  </div>

 <div class="flex flex-wrap justify-between items-start pt-[64px]">
 <!-- header -->
	<%= render 'partial/header_lg' %>

  <!-- main -->
	<div class="w-full lg:w-2/4 h-auto mb-[104px]">
    <div class="w-full lg:w-4/5 mx-auto">
      <h2 class="text-default-menu sub-heading mb-[16px]">トピック</h2>
      <div class="flex justify-center border rounded-lg">
        <div class="block p-6 bg-white w-full">
          <h3 class="heading leading-tight mb-2">新型コロナワクチン接種証明書アプリ</h3>
          <p class="text-default mb-4">
            新型コロナワクチン接種証明書をアプリで取得できます
          </p>
          <button type="button" class="w-full text-center inline-block px-6 py-2.5 bg-[#0f41af] text-white font-medium text-default-menu rounded shadow-md hover:shadow-lg">新型コロナワクチン接種証明書アプリに移動する</button>
        </div>
      </div>
      <div class="flex justify-center border rounded-lg mt-[40px]">
        <div class="block p-6 bg-white w-full">
          <h3 class="heading leading-tight mb-2">Visit Japan Webサービス</h3>
          <p class="text-default mb-4">
            海外から日本への入国時の手続に必要な情報を、事前にオンラインで入力できます。
          </p>
          <button type="button" class="w-full text-center inline-block px-6 py-2.5 bg-[#0f41af] text-white font-medium text-default-menu rounded shadow-md hover:shadow-lg">Visit Japan Webサービスに移動する</button>
        </div>
      </div>
      <% @topics.each do |topic| %>
      <div class="flex justify-center border rounded-lg mt-[40px]">
        <div class="block p-6 bg-[#EFEFEF] w-full">
        <% if !topic.category_id.nil? %>
          <p class="text-default-menu sub-heading mb-[16px]"><%= topic.category.name %></p>
        <% end %>
          <h3 class="heading leading-tight mb-[16px]"><%= topic.title %></h3>
          <p class="text-default mb-[16px]">
            <%= topic.body %>
          </p>
          <span class="sm-text sub-heading"><%= l topic.created_at %></span>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <!-- sidemenu -->
	<div class="hidden lg:block w-1/4 h-auto">
    <div class="w-full">
     <ul class="text-default-menu font-bold">
       <li class="mb-[8px]"><%= link_to '組織情報', '#' %></li>
       <li class="mb-[8px]"><%= link_to '政策', '#' %></li>
       <li class="mb-[8px]"><%= link_to '会議等', '#' %></li>
       <li class="mb-[8px]"><%= link_to '法令', '#' %></li>
       <li class="mb-[8px]"><%= link_to '採用', '#' %></li>
       <li class="mb-[8px]"><%= link_to '資料', '#' %></li>
       <li class="mb-[8px]"><%= link_to '申請・届出', '#' %></li>
       <li class="mb-[8px]"><%= link_to '調達情報', '#' %></li>
       <li class="mb-[8px]"><%= link_to 'お知らせ', '#' %></li>
     </ul>
    </div>
    <div class="mt-[40px]">
      <h2 class="text-default-menu sub-heading mb-[16px]">注目のトピック</h2>
      <ul class="text-default-menu font-bold">
        <li class="mb-[16px]"><%= link_to '新型コロナワクチン接種証明書アプリ', '#' %></li>
        <li><%= link_to 'Visit Japan Webサービス', '#' %></li>
      </ul>
    </div>
    <div class="mt-[40px]">
      <ul class="text-default-menu py-[12px] base-blue">
        <li><%= link_to 'サイトポリシー', '#', class: 'underline' %></li>
        <li><%= link_to 'プライバシーポリシー', '#', class: 'underline' %></li>
        <li><%= link_to 'ウェブアクセシビリティ', '#', class: 'underline' %></li>
        <li>
        <span class="mr-[16px]"><%= link_to 'コピーライトポリシー', '#', class: 'underline' %></span>
        <span><%= link_to 'SNS', '#', class: 'underline' %></span>
        </li>
        <li>
        <span class="mr-[16px]"><%= link_to 'ご意見・ご要望', '#', class: 'underline' %></span>
        <span><%= link_to 'サイトマップ', '#', class: 'underline' %></span>
        </li>
      </ul>
    </div>
    <div class="mt-[40px]">
      <ul class="text-default-menu py-[12px] base-blue">
        <li><%= link_to 'Global Site', '#', class: 'underline' %></li>
        <li><%= link_to 'プレスルーム', '#', class: 'underline' %></li>
      </ul>
    </div>
  </div>
</div>
</div>

<!-- footer -->
<%= render 'partial/footer' %>

<!-- back to top button -->
<%= render 'partial/back_to_button' %>
</body>
</html>
