<div class="w-[80%] mx-auto text-center mt-[50px]">
<div class="block p-6 rounded-lg shadow-lg bg-white w-full max-w-[500px] mx-auto">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |user| %>
    <div class="form-group mb-6">
        <%= user.label :email, 'Email Address', class: 'form-label inline-block mb-2 text-gray-700' %><br />
    <%= user.email_field :email, autofocus: true, class: 'form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none' %>
    </div>
    <div class="form-group mb-6">
        <%= user.label :password, 'Password', class: 'form-label inline-block mb-2 text-gray-700' %><br />
    <%= user.password_field :password, autofocus: true, class: 'form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none' %>
    </div>

    <div class="flex justify-between items-center mb-6">
      <div class="form-group form-check">
        <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= user.check_box :remember_me, class: 'form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer' %>
      <%= user.label :remember_me, 'Remember me' %>
    </div>
  <% end %>
      </div>
    </div>
    <%= user.submit 'Login', class: 'w-full
      px-6
      py-2.5
      bg-blue-600
      text-white
      font-medium
      text-xs
      leading-tight
      uppercase
      rounded
      shadow-md
      hover:bg-blue-700 hover:shadow-lg
      focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
      active:bg-blue-800 active:shadow-lg
      transition
      duration-150
      ease-in-out
      cursor-pointer' %>
    <p class="text-gray-800 mt-6 text-center">Not a member?
        <%= link_to 'Register', new_user_registration_path, class: 'text-blue-600 hover:text-blue-700 focus:text-blue-700 transition duration-200 ease-in-out' %>
    </p>
    <%= link_to 'Back', root_path %>
<% end %>
</div>
</div>
